* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dddbdd;
}

.main-page {
  margin: 20px auto;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px gray;
  height: 100%;
  padding: 16px;
}

#task-container {
  list-style: none;
  background-color: white;
  width: 500px;
  margin: auto;
  padding: 0;
  margin-top: 100px;
  box-shadow: rgba(100, 100, 120, 0.2) 0 5px 25px 0;
}

#task-container li {
  border-bottom: 1px solid rgb(255, 255, 255);
  display: flex;
  padding: 16px 15px 10px 16px;
  color: #59595c;
  border-bottom: 2px solid #dddbdd;
}

#task-container li i {
  margin-left: auto;
}

.head-text {
  font-size: 24px;
  font-weight: 600;
}

.add-item input {
  font-family: cursive;
  font-style: oblique;
  border: 0;
  font-size: 18px;
  width: 100%;
}

input:focus {
  outline: none;
}

input[type=checkbox] {
  margin-right: 10px;
  cursor: pointer;
}

.fa {
  color: rgb(0, 0, 0, 0.6);
  cursor: pointer;
}

.fa:hover {
  color: black;
}

.clearAll-btn {
  background-color: #f6f6f6;
}

.clearAll-btn a {
  text-align: center;
  color: black;
  text-decoration: none;
  width: 100%;
  padding: 10px 0;
}

.clearAll-btn:hover {
  background-color: rgb(0, 0, 0, 0.3);
}

.hideellipsis {
  display: none;
}

input.description {
  font-size: 18px;
  width: 100%;
  border: 0;
}